.odd {
    background-color: rgba(235, 118, 105, 0.919);
    font-family: Verdana, "DejaVu Sans", sans-serif;

}
#two {
    color: blue;
    font-size: 36px;

}
#three {
    font-size: 24px;
}
#four {
    background-color:rgb(131, 242, 242);
    font-size: 24px;
    font-weight: bold;
}